.photoContainer {
    display: flex;
    flex-direction: row;
    margin: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid red;
}

.homeScreen {
    height: 100vh;
}

.photoScreen {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.photo {
    border-radius: 0.5rem;
    border: solid 5px yellow;
    margin-top: 10px;
}

.calender {
    margin: 10px;
}

#header1 {
    text-align: center;
}
#footer1 {
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: Gray;
}

/* .pargraph1 {
    color: black;
    padding: 15px;
    font-size: 20px;
    background-color: DarkSalmon;
} */

#photo10 {
    margin: 40px;
    text-align: center;
}
#photo11 {
    text-align: center;
}

#photo12 {
    text-align: center;
}

