.photoContainer {
    display: flex;
    flex-direction: row;
    margin: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.photoScreen {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.photo {
    border-radius: 0.5rem;
    border: solid 5px yellow;
    margin-top: 10px;
}

#header1 {
    text-align: center;
}
#footer1 {
    text-align: left;
    padding: 40px;
    background-color: Gray;
}
#pargraph1 {
    color: black;
    padding: 15px;
    font-size: 20px;
    background-color: DarkSalmon;
}
#photo10 {
    margin: 40px;
    text-align: center;
}
#photo11 {
    text-align: center;
}

#photo12 {
    text-align: center;
}
